.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.block-container .error {
  color: red;
}

.block-container ul {
  list-style-type: none;
}

.block-container ul li {
  text-align: left;
  margin-left: 50px;
}

.block-container ul li strong {
  display: inline-block;
  width: 200px;
}
